{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    {% if article.featuredImage %}
        <a href="{{ path('article_show', {'slug': article.slug}) }}">
            <img src="/media/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="350" height="205" >
        </a>
    {% endif %}
    <h1 class="article-title">{{ article.title }}</h1>
    <div id="article-content">
        {{ article.content|raw }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
